/* Room style */

.lcb-pane{
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}
.lcb-room-header{
	color: #FFF;
	background: #3b3b3b;
	border-radius: 0px;
	min-height: 52px;
}
.lcb-room-heading .slug{
	display: none;
}
.lcb-room-heading .lcb-room-description{
	
}
.lcb-room-heading a{
	
}