/* Room style */

.lcb-pane{
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}
.lcb-room-header{
	color: #FFF;
	background: #3b3b3b;
	border-radius: 0px;
	min-height: 52px;
}

.lcb-rooms-list-item-slug{
	display: none;
}

.slug{
	display: none;
}

textarea{
	max-height: 100%;
	max-width: 100%;
}

.hi-more-users{
	direction: ltr;
	float: left;
	margin: 7px;
}

.lcb-room-alert{
	font-size: 18px;
	font-weight: 300;
	color: #aaa;
	display: inline;
	position: absolute;
	top: 15px;
	left: 90px;
	cursor: pointer;
}

.lcb-rooms-list-external{
	padding: 0;
}

.lcb-rooms-list-internal{
	padding: 0;
}

.lcb-rooms-list{
	.title{
		width: 100%;
		background: whitesmoke;
		color: black;
		text-align: center;
		padding: 5px;
	}
}