/* Sidebar Style */
.lcb-room-sidebar-user-online{
    width: 8px;
    height: 8px;
    background: rgb(14, 216, 14);
    float: right;
    border-radius: 100%;
    position: relative;
    top: 5px;
    margin-left: 3px;
}
.lcb-sidebar{
	border-right: 0px;
	background: linear-gradient(#0066CC, #00284D);
	min-width: 217px;
	box-shadow: -24px -1px 30px -28px #707070 inset;
}

.lcb-sidebar:after{
	background: initial;
}

.lcb-sidebar .dropdown{
	min-height: 45px;
	border-bottom: 1px solid #9bc256;
}

.lcb-account-button.dropdown-toggle{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 7px;
}

.lcb-tab.selected{
	background: initial;
	font-weight: bold;
}

.lcb-tab.selected:after{
	background: initial;
}

.lcb-account-button{
	background: initial;
	color: white;
}

.lcb-tabs{
	border: 0px;
}

.lcb-tab{
	border: 0px;
}

.lcb-tab a{
	color: #cbf2a3;
	border: 0px;
}

.lcb-tab-alerts{
	background-color: initial;
	right: initial;
	left: 24px;
}

.lcb-tab-alerts-total{
	background: #eea15a;
	padding: 4px 9px;
	font-size: 15px;
	border-radius: 12px;
}

.lcb-tab-external{
	margin-right: 10px;
	color: white;
}

.lcb-tab-internal{
	margin-right: 10px;
	color: white;
}
