<script type="text/x-handlebars-template" id="template-room">
    <div class="lcb-room lcb-pane lcb-pane-{{id}} {{#if sidebar}}lcb-room-sidebar-opened{{/if}} hide" data-id="{{id}}">
        <div class="lcb-room-chat ">
            {{#unless inIframe}}
                <div class="lcb-room-header lighten-5">
                    <div class="lcb-room-meta">
                        <h3 class="lcb-room-heading">
                            {{#if directName}}
                                {{#if iAmOwner}}
                                    <span class="directName">{{directName}}</span>
                                {{else}}
                                    <span class="name">{{name}}</span>
                                {{/if}}
                            {{else}}
                                <span class="name">{{name}}</span>
                            {{/if}}
                            <span class="slug">#{{slug}}</span>
                            {{#if hasPassword}}
                                <span class="fa fa-lock btn password" title="<$ __('This room requires password to enter') $>"></span>
                            {{/if}}
                            <div class="lcb-room-description">
                                <p>{{description}}</p>
                            </div>
                        </h3>
                        <div class="lcb-links">
                            {{#unless direct}}
                                {{#if iCanEdit}}
                                    <a class="hidden-xs show-edit-room"
                                        title="<$ __('Edit Room') $>">
                                        <i id="edit-room-btn" class="fa fa-edit"></i>
                                        <label for="edit-room-btn"><$ __('Edit Room') $></label>
                                    </a>
                                {{/if}}
                            {{/unless}}
                            <a class="hidden-xs" title="<$ __('Chat History') $>"
                                href="./transcript?room={{ id }}" target="_blank">
                                <i id="room-history-btn" class="fa fa-history"></i>
                                <label for="room-history-btn"><$ __('Chat History') $></label>
                            </a>
                            <% if settings.files.enable %>
                            <a class="hidden-xs lcb-upload-trigger" title="<$ __('Upload Files') $>" href="#">
                                <i id="room-upload-btn" class="fa fa-upload"></i>
                                <label for="room-upload-btn"><$ __('Upload Files') $></label>
                            </a>
                            <% endif %>
                        </div>
                    </div>
                    <div class="lcb-room-header-actions">
                        <a class="lcb-room-toggle-sidebar" href="#">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </div>
                </div><!-- lcb-room-header end -->
            {{/unless}}
            <div class="lcb-messages-outer">
            <ul class="lcb-messages"></ul>
            </div>
            <form class="lcb-entry">
                <textarea class="lcb-entry-input" placeholder="<$ __('Got something to say?') $>" autofocus></textarea>
                <button type="submit" class="btn btn-info lcb-entry-button theme blue darken-3"><$ __('Send') $></button>
            </form>
        </div><!-- lcb-chat end -->
        <div class="lcb-room-sidebar">
            <div class="lcb-room-sidebar-group lcb-room-sidebar-users">
                <header class="lcb-room-sidebar-header theme blue darken-3">
                    <h3 class="lcb-room-sidebar-heading">
                        <i class="fa fa-users"></i> <$ __('Who\'s Here') $> (<span class="lcb-room-sidebar-items-count"></span>)
                    </h3>
                </header>
                <ul class="lcb-room-sidebar-list"></ul>
            </div>
            <% if settings.files.enable %>
            <div class="lcb-room-sidebar-group lcb-room-sidebar-files">
                <header class="lcb-room-sidebar-header theme blue darken-3">
                    <h3 class="lcb-room-sidebar-heading">
                        <i class="fa fa-file-text"></i> <$ __('Files') $>
                    </h3>
                    <button class="btn lcb-room-sidebar-files-add lcb-upload-trigger theme blue darken-4">
                        <i class="fa fa-plus"></i>
                    </button>
                </header>
                <ul class="lcb-room-sidebar-list"></ul>
            </div>
            <% endif %>
        </div><!-- lcb-room-sidebar end -->
        <div class="edit-room modal fade lcb-room-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" class="validate form-horizontal" method="post">
                    <div class="modal-header">
                        <button class="close hide-edit-room" type="button">&times;</button>
                        <h4 class="modal-title"><$ __('Edit Room') $></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-6"><$ __('Name') $></label>
                            <div class="col-sm-11">
                                <input class="required name form-control" name=
                                "name" type="text" value="{{name}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=
                            "control-label col-sm-6"><$ __('Description') $></label>
                            <div class="col-sm-11">
                                <textarea maxlength="70" class="form-control" name=
                                "description">{{description}}</textarea>
                            </div>
                        </div>
                        {{#if private}}
                        <% if settings.rooms.passwordProtected %>
                            <div class="form-group">
                                <label class=
                                "control-label col-sm-6"><$ __('Password') $></label>
                                <div class="col-sm-11">
                                    <input class="form-control" name=
                                    "password" type="password" value="{{password}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=
                                "control-label col-sm-6"><$ __('Confirm Password') $></label>
                                <div class="col-sm-11">
                                    <input class="form-control" name=
                                    "confirmPassword" type="password" value="{{password}}">
                                </div>
                            </div>
                            <% endif %>
                            <div class="form-group">
                                <label class=
                                "control-label col-sm-6"><$ __('Participants') $></label>
                                <div class="col-sm-11">
                                    <textarea class="form-control lcb-entry-participants" name=
                                    "participants"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=
                                           "control-label col-sm-6"><$ __('Superusers') $></label>
                                <div class="col-sm-11">
                                        <textarea class="form-control lcb-entry-superusers" name=
                                            "superusers"></textarea>
                                </div>
                            </div>
                        {{/if}}
                        <p class="response" style="display: none;"></p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success pull-right submit-edit-room theme blue darken-3" type=
                        "submit">
                            <i class="icon-ok"></i> <$ __('Save') $>
                        </button>
                        {{#if iAmOwner}}
                            {{#unless direct}}
                                <a class="archive-room btn btn-danger pull-left theme blue darken-3"
                                tabindex="-1">
                                    <i class="icon-remove icon-white"></i>
                                    <$ __('Archive Room') $>
                                </a>
                            {{/unless}}
                        {{/if}}
                    </div>
                </form>
            </div>
        </div>
        </div><!-- edit room end -->
    </div><!-- lcb-room end -->
</script>
